{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/site.css' %}"/>
    <link rel="shortcut icon" href="{%  static 'home/media/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div class="header">
    <div></div>
</div>
<div class="nav yellowstripe">
    <div class="container">
        <a href="{% url 'index' %}" class="titletx">Kyle Chatman</a>&emsp;
        <a href="{% url 'self' %}">Self</a>&emsp;
        <a href="{% url 'SE' %}">SE</a>&emsp;
        <a href="{% url 'CS' %}">CS</a>&ensp;-&ensp;
        <a href="{% url 'rpser' %}">RPSer</a>
    </div>
</div>
<div>
    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="footer yellowstripe">
    <div class="container">
        &copy; 2019&emsp;kchatman@gmail.com        
    </div>
</div>

{% block script %}
{% endblock %}

</body>

</html>