{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    Structural Engineer
{% endblock %}
{% block content %}
    <p>I'm a licensed Professional Engineer and Structural Engineer in California.
            I worked as a structural engineer for about twelve years before leaving to pursue a career in computer science.</p>
        <p>I got to work on a very wide variety of projects, from Hospitals to Houses, Temples to Towers. See below for a sample of what I worked on with most recent on top.</p>

        <figure><img alt="Aronson Building" src="{% static 'home/media/abldg.jpg' %}"/><figcaption>The historic Aronson Building in downtown SF. We renovated it to
            connect to a new adjacent tower and to be the new home of The Mexican Museum</figcaption></figure>
        <figure><img alt="Aronson Roof" src="{% static 'home/media/aroof.jpg' %}"/><figcaption>A new accesible roof for the Aronson Building</figcaption></figure>
        <figure><img alt="Natalie Gubb Commons" src="{% static 'home/media/tb7.jpg' %}"/><figcaption>Natalie Gubb Commons in downtown SF. Three buildings
            and 120 units of affordable housing</figcaption></figure>
        <figure><img alt="HPEW" src="{% static 'home/media/hpew.jpg' %}"/><figcaption>Hunters Point East-West in San Francisco. Evaluating and renovating 213 units of affordable
            housing in 42 buildings</figcaption></figure>
        <figure><img alt="Solaire Apartments" src="{% static 'home/media/tb6a.jpg' %}"/><figcaption>The Solaire Apartments. A 32 story tower and set of three story townhomes with
            409 market-rate units in downtown SF</figcaption></figure>
        <figure><img alt="Solaire View" src="{% static 'home/media/tb6.jpg' %}"/><figcaption>View from roof of The Solaire Apartments of the adjacent Beale Street
            Affordable Housing building</figcaption></figure>
        <figure><img alt="Beale Street Affordable Housing" src="{% static 'home/media/tb6c.jpg' %}"/><figcaption>Beale Street Housing building. Eight stories with 70 units
            of affordable housing</figcaption></figure>
        <figure><img alt="Ogden Temple" src="{% static 'home/media/otemp.jpg' %}"/><figcaption>Dramatic remodel and retrofit of the LDS temple in Ogden, UT</figcaption></figure>
        <figure><img alt="Deseret Trust Bldg" src="{% static 'home/media/deseret.jpg' %}"/><figcaption>Seismic retrofit of the Deseret Trust Building
            in downtown Salt Lake City</figcaption></figure>
        <figure><img alt="STAC" src="{% static 'home/media/stac.jpg' %}"/><figcaption>Seismic retrofit and renovation of the St.
            Thomas Aquinas Cathedral in Reno, NV</figcaption></figure>
{% endblock %}