{% extends "home/layout.html" %}
{% block title %}
    The RPSer
{% endblock %}
{% block scripts %}
    {% block rpser_scripts %}
    {% endblock %}
{% endblock %}
{% block content %}
<div class="nav yellowstripe">
        <div class="container box">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'rpser' %}" class="titletx">The RPSer</a>
                    <div class="right">
                        {% if loggedin %}
                            {{username}}&emsp;
                            <a href="{% url 'logout' %}">Logout</a>&emsp;
                        {% else %}
                            <a href="{% url 'signup' %}">Sign Up</a>&emsp;
                            <a href="{% url 'login' %}">Login</a>&emsp;
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <div class="container box">
            {% block rpser_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block script %}
    {% block rpser_script %}
    {% endblock %}
{% endblock %}