/*
    Kyle Chatman 2019

    backgrounds are from www.subtlepatterns.com
    All photos are my own
*/

.header {
    min-height: 25px;
    height: 100%
}

.nav {
    border-style: solid none solid none;
    padding: 25px, 0, 0, 0;
}

.yellowstripe {
    background-color: #FED768;
    background-image: url("/media/halftone-yellow.png");
    color: Black;
    font-family: "Courier New", "Courier", monospace;
    font-size: 1.2em;
    font-weight: 600;
}

a {
    text-decoration: none!important;
    color: inherit!important;
}

body {
    background-image: url("/media/topography.png");
    background-color: #F2F2F2;
    color: Black;
    font-family: "Courier New", "Courier", monospace!important;
    font-size: 1em;
    padding-bottom: 75px;
    font-weight: 600;
}

.footer{
    position: fixed;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    border-style: solid none none none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.avoidwrap {
    display:inline-block; 
}